#edit-inherit-control-div {
	margin-left:18px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:18px;
}
#edit-inherit-toggle-div {
	width:290px;
    display:inline-block;
    vertical-align:top;
}
#edit-inherit-options-div {
	width: 430px;
    display:inline-block;
    vertical-align:top;
}
#edit-inherit-help-div {
	margin-left:10px;
	margin-top:6px;
	display:inline-block;
	vertical-align:top;
}
#edit-inherit-hint {
	margin-left:18px;
	margin-right:18px;
	margin-bottom:10px;
	font-weight:bold;
}
#update-page-restrictions-dialog #edit-inherit-toggle .aui-iconfont-close-dialog {
    color: var(--ds-text-inverse, #fff);
    margin-top: inherit;
}